{% extends 'base.html.twig' %}
{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}"/>
{% endblock %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="profile">Profile</div>
    <div class="container">
        <div class="containerForRegisterMenu">
            <div class="blockCenterMenu"></div>
            <div class="registerMenu">
                {{ form_start(form, {'attr':{'id' : 'app'}}) }}

                <label class="labelRegisterMenu" for="user_name">Name</label>
                <div class="rightShowError">
                    {{ form_widget(form.name, {'attr': {'class': 'inputRegisterMenu', 'placeholder' : 'Your name'}}) }}
                    <div class="errorStyle">{{ form_errors(form.name) }}</div>
                </div>
                <label class="labelRegisterMenu" for="user_lastName">Last name</label>
                <div class="rightShowError">
                    {{ form_widget(form.lastName, {'attr': {'class': 'inputRegisterMenu', 'placeholder' : 'Your last name'}}) }}
                    <div class="errorStyle"> {{ form_errors(form.lastName) }}</div>
                </div>
                <label class="labelRegisterMenu" for="user_email">Email</label>
                <div class="rightShowError">
                    {{ form_widget(form.email, {'attr': {'class': 'inputRegisterMenu', 'placeholder' : 'Your email', 'disabled': 'disabled'}}) }}
                    <div class="errorStyle">{{ form_errors(form.email) }}</div>
                </div>
                <label class="labelRegisterMenu" for="user_password_first">Password</label>
                <div class="rightShowError">
                    {{ form_widget(form.password.first, {'attr': {'class': 'inputRegisterMenu', 'placeholder' : 'Password'}}) }}
                    <div class="errorStyle">{{ form_errors(form.password.first) }}</div>
                </div>
                <label class="labelRegisterMenu" for="user_password_second">Confirm Password</label>
                <div class="rightShowError">
                    {{ form_widget(form.password.second, {'attr': {'class': 'inputRegisterMenu', 'placeholder' : 'Confirm password'}}) }}
                    <div class="errorStyle">{{ form_errors(form.password.second) }}</div>
                </div>
                <button type="submit" class="inputRegisterMenu inputRegisterMenuButton" value="Create account">Save
                    changes
                </button>

                <input type="hidden" name="token" value="{{ csrf_token('register-user') }}"/>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="containerForProjectAndTask">
            <div class="containerForTextAndProjectandTask">
                <span class="textProejctAndTask"><p>Projects</p></span>
                <div class="project">
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Quas, repudiandae.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>

                </div>
            </div>
            <div class="containerForTextAndProjectandTask">
                <span class="textProejctAndTask"><p>Tasks</p></span>
                <div class="task">
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>

                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                    <div class="marginForLink"><a href="#" class="taskAndProjectLink">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Nihil, voluptatibus.</a></div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
{% block customJs %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {#    <script src="{{ asset('build/js/index.js') }}"></script>#}
{% endblock %}
